<div class="form-group">
    <label for="issueDescInput">Assigned To</label>
    <input type="text" class="form-control"
           ng-model="$ctrl.handleDataService.assignment"
           placeholder="Enter responsible ...">
</div>