<div class="well" ng-repeat="issue in $ctrl.handleDataService.get()">
    {{issue.description}}
    <h6>Issue ID: {{issue.id}}</h6>
    <p>
        <span class="label label-info">{{issue.status}}</span>
    </p>
    <h3>{{issue.description}}</h3>
    <p>
            <span>{{issue.severity}}</span>
            <span>{{issue.assignment}}</span>
    </p>
    <close-button ng-click="$ctrl.handleDataService.closeIssue(issue.id)"></close-button>
    <delete-button ng-click="$ctrl.handleDataService.deleteIssue(issue.id)"></delete-button>

</div>